<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="conString" value="Data Source=HAIHAI\GUEN;Initial Catalog=Project_Player34;Persist Security Info=True;User ID=sa;Password=123456"/>
    <add key="members" value="Data Source=HAIHAI\GUEN;Initial Catalog=Db_Membership;Persist Security Info=True;User ID=sa;Password=123456"/>
    <add key="request" value="http://127.0.0.1/request/"/>
    <add key="resource" value="http://127.0.0.1/resource/"/>
    <add key="roadpath" value="D:\Gunny\DDTank41\Road.Service\bin\Debug\net48"/>
    <add key="lang" value="eng"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICenterService">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://127.0.0.1:2009/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICenterService" contract="WebService.ICenterService" name="NetTcpBinding_ICenterService"/>
      <endpoint address="net.tcp://127.0.0.1:2009/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICenterService" contract="WebService.ICenterService" name="NetTcpBinding_ICenterService"/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>

<!--<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="conString" value="Data Source=HAIHAI\GUEN;Initial Catalog=Db_Tank41;Persist Security Info=True;User ID=sa;Password=123456"/>
    <add key="memtank" value="Data Source=HAIHAI\GUEN;Initial Catalog=Db_Membership;Persist Security Info=True;User ID=sa;Password=123456"/>
    <add key="request" value="http://127.0.0.1/request/"/>
    <add key="resource" value="http://127.0.0.1/resource/"/>
    <add key="roadpath" value="D:\Gunny\DDTank4.1\Road"/>
    <add key="lang" value="eng"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_ICenterService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://127.0.0.1:4009/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_ICenterService" contract="WebService.ICenterService"
        name="NetTcpBinding_ICenterService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>-->
